.main-container {
  margin-left: 50px;
}

.sidebar {
  padding: 8% 5px;
  width: 335px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  background-color: #f5f6fa;
  border-right: 1px solid #ddd;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.9);
}

.sidebar ul li {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 36px;
}

.sidebar ul li img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.sidebar li:hover {
  background-color: #dcdde1;
  border-radius: 2px;
  cursor: pointer;
  padding: 5px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #000;
  text-decoration: underline;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar ul li.selected {
  background: linear-gradient(to right, black, rgb(255, 199, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-weight: bold;
  border-radius: 2px;
}

.search-bar {
  position: relative;
  padding: 5px;
  border-radius: 5px;
}

.search-input {
  width: 70%;
  margin-left: 30px;
  padding: 8px;
  font-size: 15px;
  border: 1px solid #ffc700;
  outline: 0;
  padding-right: 25px;
  border-radius: 25px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #ebebeb;
}

.content {
  padding: 100px;
  padding-left: 410px;
  padding-right: 150px;
  background-color: #ffffff;
  font-family: "Arial, sans-serif";
  overflow: hidden;
  text-align: justify;

}

