
.main-container {
    margin-left: 50px;
  }
  
  .sidebar {
    padding: 8% 5px;
    width: 330px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    background-color: #f5f6fa;
    font-size: 15px;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar ul li {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 36px;
  }
  
  .sidebar ul li img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  
  .sidebar li:hover {
    background-color: #dcdde1;
    border-radius: 2px;
    cursor: pointer;
    padding: 3px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #000;
    text-decoration: underline;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  
  .sidebar ul li.selected {
    background-color: #d0d0d041;
    font-weight: bold;
    border-radius: 2px;
  }

  .search-bar {
    position: relative;
    padding: 5px;
    border-radius: 5px;
   
  }
  
  .search-input {
    width: 70%;
    margin-left: 30px;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ffc700;
    outline: 0;
    padding-right: 25px;
    border-radius: 25px;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }
  
  
  ul {
    list-style-type: none;
    padding: 20;
  }
  
  li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  
  
  .content {
    padding: 100px;
    padding-bottom: 100%;
    padding-left: 410px;
    padding-right: 150px;
    background-color: #ffffff;
    font-family: "Arial, sans-serif";
    overflow: hidden;
    text-align: justify;
  }
  
  .content img {
    display: block;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    height: auto;
    max-width: 120%;
    object-fit: cover;
  }
  
  .content img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  }
  