<header class="navbar-container">
  <h1 class="logo">
    <img
      src="https://res.cloudinary.com/dxwcrbqes/image/upload/v1721732693/f_blanc_flash_flash_k7qygw.png"
      alt="logo"
      class="logo-image"
    />

    Flash
  </h1>
  <nav class="nav-links">
     
    <a class="nav-item" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a class="nav-item" routerLink="/docs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Docs</a>
    <a class="nav-item" routerLink="/faq" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">FAQ</a>
    <a class="nav-item" routerLink="/glossaire" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Glossaire</a>
  </nav>

  <!-- <div class="search-container">
    <div>
      <input type="text" placeholder="🔍 Search..." class="search-input" />
    </div>
  </div>  -->
  
    <!-- Bouton de recherche -->
<div class="btn-container">
  <button class="search-btn" (click)="openPopup()">🔍</button>
</div>
<!-- Popup de recherche -->
<div *ngIf="showPopup" class="popup-overlay">
  <div class="search-popup">
    <input
      type="text"
      class="search-input"
      placeholder="🔍 Search docs..."
      [(ngModel)]="searchQuery"
      (keyup)="onSearch()"
    />
    <button class="close-btn" (click)="closePopup()">Esc</button>
  </div>
 </div> 


  <button class="contact-btn">Nous contacter</button>
</header>

