
  
.faq-container {
    width: 90%;
    padding-top: 100px;
    margin: 0 auto;
    padding: 90px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  
    h2{
        // padding: 10px;
        text-align: center;
        font-size: 2rem;
        background: linear-gradient(to right, black, rgb(255, 255, 1));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
           font-size: 48px;
      }
 
    .faq-item {
      margin-bottom: 15px;
      border-bottom: 1px solid #ddd;
  
      .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        cursor: pointer;
        background-color: #fff;
        transition: background-color 0.3s ease;
        border-radius: 4px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  
        p {
          margin: 0;
          font-size: 1rem;
          font-weight: 500;
          color: #000;
        }
  
        &:hover {
          background-color: #f1f1f1;
        }
  
        .toggle-icon {
          font-size: 1rem;
          color: #ffd103;
        }
      }
  
      .faq-answer {
        padding: 10px;
        background-color: #ffffff;
        border-radius: 4px;
        animation: slideDown 0.3s ease;
  
        p {
          margin: 0;
          color: #000000;
          font-size: 1rem;
        }
      }
    }
  }
  
  @keyframes slideDown {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 100px;
      opacity: 1;
    }
  }
  